name: Release PR

on:
    push:
        branches: [main]

jobs:
    release-pr:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: google-github-actions/release-please-action@v3
              name: Run release-please
              id: release
              with:
                  release-type: node
                  package-name: ct-iframes
                  token: ${{ secrets.RELEASE_PLEASE_PAT }}
